# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Android
android/.gradle
android/app/build
android/build
android/local.properties
*.iml
.idea/
.gradle/

# iOS
ios/Pods/
ios/build/
ios/Index/
*.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata

# macOS
.DS_Store

# Windows
Thumbs.db

# Env
.env
.env.local

# Temp and Logs
*.log
tmp/
temp/
coverage/*.keystore
!debug.keystore
ios/Pods/
ios/build/
*.log
.DS_Store
